#base24-forest-blue pre { white-space: pre-wrap; font-family: monospace; color: #b8b1a9; background-color: #051519; }
#base24-forest-blue pre { font-family: monospace; color: #b8b1a9; background-color: #051519; }
#base24-forest-blue * { font-size: 1em; }
#base24-forest-blue .Identifier { color: #b8b1a9; }
#base24-forest-blue .Statement { color: #5e468c; font-weight: bold; }
#base24-forest-blue .PreProc { color: #31658c; }
#base24-forest-blue .Operator { color: #31658c; }
#base24-forest-blue .Comment { color: #666361; font-style: italic; }
#base24-forest-blue .String { color: #92d3a2; font-style: italic; }
#base24-forest-blue .Number { color: #1a8d63; }
#base24-forest-blue .Function { color: #8ed0ce; }
#base24-forest-blue .Conditional { color: #5e468c; }
