#base16-chinoiserie pre { white-space: pre-wrap; font-family: monospace; color: #4a4035; background-color: #ffffff; }
#base16-chinoiserie pre { font-family: monospace; color: #4a4035; background-color: #ffffff; }
#base16-chinoiserie * { font-size: 1em; }
#base16-chinoiserie .Identifier { color: #4a4035; }
#base16-chinoiserie .Statement { color: #c08eaf; font-weight: bold; }
#base16-chinoiserie .PreProc { color: #2b73af; }
#base16-chinoiserie .Operator { color: #2b73af; }
#base16-chinoiserie .Comment { color: #80766e; font-style: italic; }
#base16-chinoiserie .String { color: #428675; font-style: italic; }
#base16-chinoiserie .Number { color: #fb8b05; }
#base16-chinoiserie .Function { color: #815c94; }
#base16-chinoiserie .Conditional { color: #c08eaf; }
