#base16-everforest-light-medium pre { white-space: pre-wrap; font-family: monospace; color: #5c6a72; background-color: #fdf6e3; }
#base16-everforest-light-medium pre { font-family: monospace; color: #5c6a72; background-color: #fdf6e3; }
#base16-everforest-light-medium * { font-size: 1em; }
#base16-everforest-light-medium .Identifier { color: #5c6a72; }
#base16-everforest-light-medium .Statement { color: #df69ba; font-weight: bold; }
#base16-everforest-light-medium .PreProc { color: #35a77c; }
#base16-everforest-light-medium .Operator { color: #35a77c; }
#base16-everforest-light-medium .Comment { color: #939f91; font-style: italic; }
#base16-everforest-light-medium .String { color: #8da101; font-style: italic; }
#base16-everforest-light-medium .Number { color: #f57d26; }
#base16-everforest-light-medium .Function { color: #3a94c5; }
#base16-everforest-light-medium .Conditional { color: #df69ba; }
