#base24-warm-neon pre { white-space: pre-wrap; font-family: monospace; color: #dcc9ba; background-color: #3f3f3f; }
#base24-warm-neon pre { font-family: monospace; color: #dcc9ba; background-color: #3f3f3f; }
#base24-warm-neon * { font-size: 1em; }
#base24-warm-neon .Identifier { color: #dcc9ba; }
#base24-warm-neon .Statement { color: #f81ffb; font-weight: bold; }
#base24-warm-neon .PreProc { color: #29bad3; }
#base24-warm-neon .Operator { color: #29bad3; }
#base24-warm-neon .Comment { color: #f2ebe6; font-style: italic; }
#base24-warm-neon .String { color: #38b139; font-style: italic; }
#base24-warm-neon .Number { color: #dae145; }
#base24-warm-neon .Function { color: #4260c5; }
#base24-warm-neon .Conditional { color: #f81ffb; }
