#base24-clrs pre { white-space: pre-wrap; font-family: monospace; color: #9a9b9a; background-color: #ffffff; }
#base24-clrs pre { font-family: monospace; color: #9a9b9a; background-color: #ffffff; }
#base24-clrs * { font-size: 1em; }
#base24-clrs .Identifier { color: #9a9b9a; }
#base24-clrs .Statement { color: #9f00bc; font-weight: bold; }
#base24-clrs .PreProc { color: #32c2c0; }
#base24-clrs .Operator { color: #32c2c0; }
#base24-clrs .Comment { color: #6b6d6a; font-style: italic; }
#base24-clrs .String { color: #32895c; font-style: italic; }
#base24-clrs .Number { color: #f96f1c; }
#base24-clrs .Function { color: #125ccf; }
#base24-clrs .Conditional { color: #9f00bc; }
