#base16-github pre { white-space: pre-wrap; font-family: monospace; color: #424a53; background-color: #eaeef2; }
#base16-github pre { font-family: monospace; color: #424a53; background-color: #eaeef2; }
#base16-github * { font-size: 1em; }
#base16-github .Identifier { color: #424a53; }
#base16-github .Statement { color: #a475f9; font-weight: bold; }
#base16-github .PreProc { color: #339d9b; }
#base16-github .Operator { color: #339d9b; }
#base16-github .Comment { color: #8c959f; font-style: italic; }
#base16-github .String { color: #2da44e; font-style: italic; }
#base16-github .Number { color: #e16f24; }
#base16-github .Function { color: #218bff; }
#base16-github .Conditional { color: #a475f9; }
