#base24-ic-orange-ppl pre { white-space: pre-wrap; font-family: monospace; color: #d9a971; background-color: #262626; }
#base24-ic-orange-ppl pre { font-family: monospace; color: #d9a971; background-color: #262626; }
#base24-ic-orange-ppl * { font-size: 1em; }
#base24-ic-orange-ppl .Identifier { color: #d9a971; }
#base24-ic-orange-ppl .Statement { color: #fb5d00; font-weight: bold; }
#base24-ic-orange-ppl .PreProc { color: #f79400; }
#base24-ic-orange-ppl .Operator { color: #f79400; }
#base24-ic-orange-ppl .Comment { color: #8f6c41; font-style: italic; }
#base24-ic-orange-ppl .String { color: #a3a900; font-style: italic; }
#base24-ic-orange-ppl .Number { color: #caae00; }
#base24-ic-orange-ppl .Function { color: #bd6c00; }
#base24-ic-orange-ppl .Conditional { color: #fb5d00; }
