#base24-gruvbox-light pre { white-space: pre-wrap; font-family: monospace; color: #3c3836; background-color: #fbf1c7; }
#base24-gruvbox-light pre { font-family: monospace; color: #3c3836; background-color: #fbf1c7; }
#base24-gruvbox-light * { font-size: 1em; }
#base24-gruvbox-light .Identifier { color: #3c3836; }
#base24-gruvbox-light .Statement { color: #b16286; font-weight: bold; }
#base24-gruvbox-light .PreProc { color: #689d6a; }
#base24-gruvbox-light .Operator { color: #689d6a; }
#base24-gruvbox-light .Comment { color: #bdae93; font-style: italic; }
#base24-gruvbox-light .String { color: #98971a; font-style: italic; }
#base24-gruvbox-light .Number { color: #d65d0e; }
#base24-gruvbox-light .Function { color: #458588; }
#base24-gruvbox-light .Conditional { color: #b16286; }
