#base24-ollie pre { white-space: pre-wrap; font-family: monospace; color: #7e7789; background-color: #212024; }
#base24-ollie pre { font-family: monospace; color: #7e7789; background-color: #212024; }
#base24-ollie * { font-size: 1em; }
#base24-ollie .Identifier { color: #7e7789; }
#base24-ollie .Statement { color: #af8427; font-weight: bold; }
#base24-ollie .PreProc { color: #1fa5ab; }
#base24-ollie .Operator { color: #1fa5ab; }
#base24-ollie .Comment { color: #664b46; font-style: italic; }
#base24-ollie .String { color: #31ab60; font-style: italic; }
#base24-ollie .Number { color: #ab4200; }
#base24-ollie .Function { color: #2c56ab; }
#base24-ollie .Conditional { color: #af8427; }
