#base24-smyck pre { white-space: pre-wrap; font-family: monospace; color: #969696; background-color: #1b1b1b; }
#base24-smyck pre { font-family: monospace; color: #969696; background-color: #1b1b1b; }
#base24-smyck * { font-size: 1em; }
#base24-smyck .Identifier { color: #969696; }
#base24-smyck .Statement { color: #b98acc; font-weight: bold; }
#base24-smyck .PreProc { color: #207383; }
#base24-smyck .Operator { color: #207383; }
#base24-smyck .Comment { color: #838383; font-style: italic; }
#base24-smyck .String { color: #7da900; font-style: italic; }
#base24-smyck .Number { color: #c4a400; }
#base24-smyck .Function { color: #62a3c4; }
#base24-smyck .Conditional { color: #b98acc; }
