#base24-night-lion-v2 pre { white-space: pre-wrap; font-family: monospace; color: #a1a1a1; background-color: #171717; }
#base24-night-lion-v2 pre { font-family: monospace; color: #a1a1a1; background-color: #171717; }
#base24-night-lion-v2 * { font-size: 1em; }
#base24-night-lion-v2 .Identifier { color: #a1a1a1; }
#base24-night-lion-v2 .Statement { color: #ce6fda; font-weight: bold; }
#base24-night-lion-v2 .PreProc { color: #00d9df; }
#base24-night-lion-v2 .Operator { color: #00d9df; }
#base24-night-lion-v2 .Comment { color: #6e6e6e; font-style: italic; }
#base24-night-lion-v2 .String { color: #03f622; font-style: italic; }
#base24-night-lion-v2 .Number { color: #f2f067; }
#base24-night-lion-v2 .Function { color: #63d0f0; }
#base24-night-lion-v2 .Conditional { color: #ce6fda; }
