#base24-elemental pre { white-space: pre-wrap; font-family: monospace; color: #756f68; background-color: #21211c; }
#base24-elemental pre { font-family: monospace; color: #756f68; background-color: #21211c; }
#base24-elemental * { font-size: 1em; }
#base24-elemental .Identifier { color: #756f68; }
#base24-elemental .Statement { color: #7e4e2e; font-weight: bold; }
#base24-elemental .PreProc { color: #387f58; }
#base24-elemental .Operator { color: #387f58; }
#base24-elemental .Comment { color: #5f5d50; font-style: italic; }
#base24-elemental .String { color: #479942; font-style: italic; }
#base24-elemental .Number { color: #7f7110; }
#base24-elemental .Function { color: #497f7d; }
#base24-elemental .Conditional { color: #7e4e2e; }
