#base24-sea-shells pre { white-space: pre-wrap; font-family: monospace; color: #b79c7e; background-color: #08131a; }
#base24-sea-shells pre { font-family: monospace; color: #b79c7e; background-color: #08131a; }
#base24-sea-shells * { font-size: 1em; }
#base24-sea-shells .Identifier { color: #b79c7e; }
#base24-sea-shells .Statement { color: #68d3f1; font-weight: bold; }
#base24-sea-shells .PreProc { color: #50a3b5; }
#base24-sea-shells .Operator { color: #50a3b5; }
#base24-sea-shells .Comment { color: #696660; font-style: italic; }
#base24-sea-shells .String { color: #027c9b; font-style: italic; }
#base24-sea-shells .Number { color: #fca02f; }
#base24-sea-shells .Function { color: #1e4950; }
#base24-sea-shells .Conditional { color: #68d3f1; }
