#base24-cobalt2 pre { white-space: pre-wrap; font-family: monospace; color: #a1a1a1; background-color: #122637; }
#base24-cobalt2 pre { font-family: monospace; color: #a1a1a1; background-color: #122637; }
#base24-cobalt2 * { font-size: 1em; }
#base24-cobalt2 .Identifier { color: #a1a1a1; }
#base24-cobalt2 .Statement { color: #ff005d; font-weight: bold; }
#base24-cobalt2 .PreProc { color: #00bbbb; }
#base24-cobalt2 .Operator { color: #00bbbb; }
#base24-cobalt2 .Comment { color: #6e6e6e; font-style: italic; }
#base24-cobalt2 .String { color: #37dd21; font-style: italic; }
#base24-cobalt2 .Number { color: #fee409; }
#base24-cobalt2 .Function { color: #1460d2; }
#base24-cobalt2 .Conditional { color: #ff005d; }
