#base24-dimmed-monokai pre { white-space: pre-wrap; font-family: monospace; color: #acafac; background-color: #1e1e1e; }
#base24-dimmed-monokai pre { font-family: monospace; color: #acafac; background-color: #1e1e1e; }
#base24-dimmed-monokai * { font-size: 1em; }
#base24-dimmed-monokai .Identifier { color: #acafac; }
#base24-dimmed-monokai .Statement { color: #855b8d; font-weight: bold; }
#base24-dimmed-monokai .PreProc { color: #568ea3; }
#base24-dimmed-monokai .Operator { color: #568ea3; }
#base24-dimmed-monokai .Comment { color: #949593; font-style: italic; }
#base24-dimmed-monokai .String { color: #869a3a; font-style: italic; }
#base24-dimmed-monokai .Number { color: #c4a535; }
#base24-dimmed-monokai .Function { color: #4e76a1; }
#base24-dimmed-monokai .Conditional { color: #855b8d; }
