#base24-tango-adapted pre { white-space: pre-wrap; font-family: monospace; color: #4f4f4f; background-color: #feffff; }
#base24-tango-adapted pre { font-family: monospace; color: #4f4f4f; background-color: #feffff; }
#base24-tango-adapted * { font-size: 1em; }
#base24-tango-adapted .Identifier { color: #4f4f4f; }
#base24-tango-adapted .Statement { color: #c17ecb; font-weight: bold; }
#base24-tango-adapted .PreProc { color: #00d0d6; }
#base24-tango-adapted .Operator { color: #00d0d6; }
#base24-tango-adapted .Comment { color: #cccccc; font-style: italic; }
#base24-tango-adapted .String { color: #59d500; font-style: italic; }
#base24-tango-adapted .Number { color: #ef9b00; }
#base24-tango-adapted .Function { color: #00a1ff; }
#base24-tango-adapted .Conditional { color: #c17ecb; }
