#base24-material pre { white-space: pre-wrap; font-family: monospace; color: #c3c3c3; background-color: #eaeaea; }
#base24-material pre { font-family: monospace; color: #c3c3c3; background-color: #eaeaea; }
#base24-material * { font-size: 1em; }
#base24-material .Identifier { color: #c3c3c3; }
#base24-material .Statement { color: #550087; font-weight: bold; }
#base24-material .PreProc { color: #0e707c; }
#base24-material .Operator { color: #0e707c; }
#base24-material .Comment { color: #6d6d6d; font-style: italic; }
#base24-material .String { color: #457b23; font-style: italic; }
#base24-material .Number { color: #f5971d; }
#base24-material .Function { color: #134eb2; }
#base24-material .Conditional { color: #550087; }
