#base24-github-dark pre { white-space: pre-wrap; font-family: monospace; color: #c9d1d9; background-color: #161b22; }
#base24-github-dark pre { font-family: monospace; color: #c9d1d9; background-color: #161b22; }
#base24-github-dark * { font-size: 1em; }
#base24-github-dark .Identifier { color: #c9d1d9; }
#base24-github-dark .Statement { color: #a371f7; font-weight: bold; }
#base24-github-dark .PreProc { color: #2a9d9a; }
#base24-github-dark .Operator { color: #2a9d9a; }
#base24-github-dark .Comment { color: #6e7681; font-style: italic; }
#base24-github-dark .String { color: #2ea043; font-style: italic; }
#base24-github-dark .Number { color: #db6d28; }
#base24-github-dark .Function { color: #388bfd; }
#base24-github-dark .Conditional { color: #a371f7; }
