#base24-alien-blood pre { white-space: pre-wrap; font-family: monospace; color: #5a6f5c; background-color: #0f160f; }
#base24-alien-blood pre { font-family: monospace; color: #5a6f5c; background-color: #0f160f; }
#base24-alien-blood * { font-size: 1em; }
#base24-alien-blood .Identifier { color: #5a6f5c; }
#base24-alien-blood .Statement { color: #47577e; font-weight: bold; }
#base24-alien-blood .PreProc { color: #317f76; }
#base24-alien-blood .Operator { color: #317f76; }
#base24-alien-blood .Comment { color: #46542a; font-style: italic; }
#base24-alien-blood .String { color: #2f7e25; font-style: italic; }
#base24-alien-blood .Number { color: #707f23; }
#base24-alien-blood .Function { color: #2f697f; }
#base24-alien-blood .Conditional { color: #47577e; }
