#base24-blue-berry-pie pre { white-space: pre-wrap; font-family: monospace; color: #bbb2ad; background-color: #1c0b28; }
#base24-blue-berry-pie pre { font-family: monospace; color: #bbb2ad; background-color: #1c0b28; }
#base24-blue-berry-pie * { font-size: 1em; }
#base24-blue-berry-pie .Identifier { color: #bbb2ad; }
#base24-blue-berry-pie .Statement { color: #9d53a7; font-weight: bold; }
#base24-blue-berry-pie .PreProc { color: #7e82cc; }
#base24-blue-berry-pie .Operator { color: #7e82cc; }
#base24-blue-berry-pie .Comment { color: #534a5e; font-style: italic; }
#base24-blue-berry-pie .String { color: #5bb0b2; font-style: italic; }
#base24-blue-berry-pie .Number { color: #e9b8a7; }
#base24-blue-berry-pie .Function { color: #90a5bc; }
#base24-blue-berry-pie .Conditional { color: #9d53a7; }
