#base24-jackie-brown pre { white-space: pre-wrap; font-family: monospace; color: #a8a8a8; background-color: #2c1c15; }
#base24-jackie-brown pre { font-family: monospace; color: #a8a8a8; background-color: #2c1c15; }
#base24-jackie-brown * { font-size: 1em; }
#base24-jackie-brown .Identifier { color: #a8a8a8; }
#base24-jackie-brown .Statement { color: #cf5ec0; font-weight: bold; }
#base24-jackie-brown .PreProc { color: #00acee; }
#base24-jackie-brown .Operator { color: #00acee; }
#base24-jackie-brown .Comment { color: #7c7c7c; font-style: italic; }
#base24-jackie-brown .String { color: #2baf2b; font-style: italic; }
#base24-jackie-brown .Number { color: #bdbe00; }
#base24-jackie-brown .Function { color: #246db2; }
#base24-jackie-brown .Conditional { color: #cf5ec0; }
