#base16-still-alive pre { white-space: pre-wrap; font-family: monospace; color: #4c383b; background-color: #f0f0f0; }
#base16-still-alive pre { font-family: monospace; color: #4c383b; background-color: #f0f0f0; }
#base16-still-alive * { font-size: 1em; }
#base16-still-alive .Identifier { color: #4c383b; }
#base16-still-alive .Statement { color: #9036ff; font-weight: bold; }
#base16-still-alive .PreProc { color: #36d3ff; }
#base16-still-alive .Operator { color: #36d3ff; }
#base16-still-alive .Comment { color: #a3a3a3; font-style: italic; }
#base16-still-alive .String { color: #30a860; font-style: italic; }
#base16-still-alive .Number { color: #f0d848; }
#base16-still-alive .Function { color: #365eff; }
#base16-still-alive .Conditional { color: #9036ff; }
