#base24-square pre { white-space: pre-wrap; font-family: monospace; color: #bababa; background-color: #1a1a1a; }
#base24-square pre { font-family: monospace; color: #bababa; background-color: #1a1a1a; }
#base24-square * { font-size: 1em; }
#base24-square .Identifier { color: #bababa; }
#base24-square .Statement { color: #75507b; font-weight: bold; }
#base24-square .PreProc { color: #c9caec; }
#base24-square .Operator { color: #c9caec; }
#base24-square .Comment { color: #4b4b4b; font-style: italic; }
#base24-square .String { color: #b6377d; font-style: italic; }
#base24-square .Number { color: #ecebbe; }
#base24-square .Function { color: #a9cdeb; }
#base24-square .Conditional { color: #75507b; }
