#base24-man-page pre { white-space: pre-wrap; font-family: monospace; color: #b2b2b2; background-color: #fef49c; }
#base24-man-page pre { font-family: monospace; color: #b2b2b2; background-color: #fef49c; }
#base24-man-page * { font-size: 1em; }
#base24-man-page .Identifier { color: #b2b2b2; }
#base24-man-page .Statement { color: #b200b2; font-weight: bold; }
#base24-man-page .PreProc { color: #00a6b2; }
#base24-man-page .Operator { color: #00a6b2; }
#base24-man-page .Comment { color: #7f7f7f; font-style: italic; }
#base24-man-page .String { color: #00a600; font-style: italic; }
#base24-man-page .Number { color: #999900; }
#base24-man-page .Function { color: #0000b2; }
#base24-man-page .Conditional { color: #b200b2; }
