#base24-ciapre pre { white-space: pre-wrap; font-family: monospace; color: #978f73; background-color: #181c27; }
#base24-ciapre pre { font-family: monospace; color: #978f73; background-color: #181c27; }
#base24-ciapre * { font-size: 1em; }
#base24-ciapre .Identifier { color: #978f73; }
#base24-ciapre .Statement { color: #724c7c; font-weight: bold; }
#base24-ciapre .PreProc { color: #5b4f4a; }
#base24-ciapre .Operator { color: #5b4f4a; }
#base24-ciapre .Comment { color: #6b685f; font-style: italic; }
#base24-ciapre .String { color: #48513b; font-style: italic; }
#base24-ciapre .Number { color: #cc8a3e; }
#base24-ciapre .Function { color: #566d8c; }
#base24-ciapre .Conditional { color: #724c7c; }
