#base24-ayu-light pre { white-space: pre-wrap; font-family: monospace; color: #5c6166; background-color: #f8f9fa; }
#base24-ayu-light pre { font-family: monospace; color: #5c6166; background-color: #f8f9fa; }
#base24-ayu-light * { font-size: 1em; }
#base24-ayu-light .Identifier { color: #5c6166; }
#base24-ayu-light .Statement { color: #a37acc; font-weight: bold; }
#base24-ayu-light .PreProc { color: #4cbf99; }
#base24-ayu-light .Operator { color: #4cbf99; }
#base24-ayu-light .Comment { color: #a0a6ac; font-style: italic; }
#base24-ayu-light .String { color: #6cbf49; font-style: italic; }
#base24-ayu-light .Number { color: #fa8d3e; }
#base24-ayu-light .Function { color: #399ee6; }
#base24-ayu-light .Conditional { color: #a37acc; }
