#base16-swamp-dark pre { white-space: pre-wrap; font-family: monospace; color: #d2c3a4; background-color: #242015; }
#base16-swamp-dark pre { font-family: monospace; color: #d2c3a4; background-color: #242015; }
#base16-swamp-dark * { font-size: 1em; }
#base16-swamp-dark .Identifier { color: #d2c3a4; }
#base16-swamp-dark .Statement { color: #91506c; font-weight: bold; }
#base16-swamp-dark .PreProc { color: #db930d; }
#base16-swamp-dark .Operator { color: #db930d; }
#base16-swamp-dark .Comment { color: #5f4e41; font-style: italic; }
#base16-swamp-dark .String { color: #7a7653; font-style: italic; }
#base16-swamp-dark .Number { color: #ebe0bb; }
#base16-swamp-dark .Function { color: #c1666b; }
#base16-swamp-dark .Conditional { color: #91506c; }
