#base24-ubuntu pre { white-space: pre-wrap; font-family: monospace; color: #b3b7b0; background-color: #300a24; }
#base24-ubuntu pre { font-family: monospace; color: #b3b7b0; background-color: #300a24; }
#base24-ubuntu * { font-size: 1em; }
#base24-ubuntu .Identifier { color: #b3b7b0; }
#base24-ubuntu .Statement { color: #75507b; font-weight: bold; }
#base24-ubuntu .PreProc { color: #06989a; }
#base24-ubuntu .Operator { color: #06989a; }
#base24-ubuntu .Comment { color: #747772; font-style: italic; }
#base24-ubuntu .String { color: #4e9a06; font-style: italic; }
#base24-ubuntu .Number { color: #c4a000; }
#base24-ubuntu .Function { color: #3465a4; }
#base24-ubuntu .Conditional { color: #75507b; }
