#base24-papercolor-light pre { white-space: pre-wrap; font-family: monospace; color: #444444; background-color: #eeeeee; }
#base24-papercolor-light pre { font-family: monospace; color: #444444; background-color: #eeeeee; }
#base24-papercolor-light * { font-size: 1em; }
#base24-papercolor-light .Identifier { color: #444444; }
#base24-papercolor-light .Statement { color: #8700af; font-weight: bold; }
#base24-papercolor-light .PreProc { color: #d75f00; }
#base24-papercolor-light .Operator { color: #d75f00; }
#base24-papercolor-light .Comment { color: #878787; font-style: italic; }
#base24-papercolor-light .String { color: #008700; font-style: italic; }
#base24-papercolor-light .Number { color: #d70087; }
#base24-papercolor-light .Function { color: #0087af; }
#base24-papercolor-light .Conditional { color: #8700af; }
