#base24-desert pre { white-space: pre-wrap; font-family: monospace; color: #cdbb9b; background-color: #333333; }
#base24-desert pre { font-family: monospace; color: #cdbb9b; background-color: #333333; }
#base24-desert * { font-size: 1em; }
#base24-desert .Identifier { color: #cdbb9b; }
#base24-desert .Statement { color: #ffdead; font-weight: bold; }
#base24-desert .PreProc { color: #ffa0a0; }
#base24-desert .Operator { color: #ffa0a0; }
#base24-desert .Comment { color: #7d776c; font-style: italic; }
#base24-desert .String { color: #98fb98; font-style: italic; }
#base24-desert .Number { color: #f0e68c; }
#base24-desert .Function { color: #cd853f; }
#base24-desert .Conditional { color: #ffdead; }
