#base24-fun-forrest pre { white-space: pre-wrap; font-family: monospace; color: #c5ab60; background-color: #241200; }
#base24-fun-forrest pre { font-family: monospace; color: #c5ab60; background-color: #241200; }
#base24-fun-forrest * { font-size: 1em; }
#base24-fun-forrest .Identifier { color: #c5ab60; }
#base24-fun-forrest .Statement { color: #8c4231; font-weight: bold; }
#base24-fun-forrest .PreProc { color: #d98112; }
#base24-fun-forrest .Operator { color: #d98112; }
#base24-fun-forrest .Comment { color: #957f58; font-style: italic; }
#base24-fun-forrest .String { color: #909b00; font-style: italic; }
#base24-fun-forrest .Number { color: #bd8a13; }
#base24-fun-forrest .Function { color: #4698a2; }
#base24-fun-forrest .Conditional { color: #8c4231; }
