#base24-homebrew pre { white-space: pre-wrap; font-family: monospace; color: #a8a8a8; background-color: #000000; }
#base24-homebrew pre { font-family: monospace; color: #a8a8a8; background-color: #000000; }
#base24-homebrew * { font-size: 1em; }
#base24-homebrew .Identifier { color: #a8a8a8; }
#base24-homebrew .Statement { color: #b200b2; font-weight: bold; }
#base24-homebrew .PreProc { color: #00a6b2; }
#base24-homebrew .Operator { color: #00a6b2; }
#base24-homebrew .Comment { color: #7c7c7c; font-style: italic; }
#base24-homebrew .String { color: #00a600; font-style: italic; }
#base24-homebrew .Number { color: #999900; }
#base24-homebrew .Function { color: #0000b2; }
#base24-homebrew .Conditional { color: #b200b2; }
