#base16-charcoal-light pre { white-space: pre-wrap; font-family: monospace; color: #382e1b; background-color: #cabda0; }
#base16-charcoal-light pre { font-family: monospace; color: #382e1b; background-color: #cabda0; }
#base16-charcoal-light * { font-size: 1em; }
#base16-charcoal-light .Identifier { color: #382e1b; }
#base16-charcoal-light .Statement { color: #382e1b; font-weight: bold; }
#base16-charcoal-light .PreProc { color: #110e06; }
#base16-charcoal-light .Operator { color: #110e06; }
#base16-charcoal-light .Comment { color: #645538; font-style: italic; }
#base16-charcoal-light .String { color: #110e06; font-style: italic; }
#base16-charcoal-light .Number { color: #110e06; }
#base16-charcoal-light .Function { color: #251e0f; }
#base16-charcoal-light .Conditional { color: #382e1b; }
