#base24-solarized-dark-higher-contrast pre { white-space: pre-wrap; font-family: monospace; color: #aec2ba; background-color: #001e26; }
#base24-solarized-dark-higher-contrast pre { font-family: monospace; color: #aec2ba; background-color: #001e26; }
#base24-solarized-dark-higher-contrast * { font-size: 1em; }
#base24-solarized-dark-higher-contrast .Identifier { color: #aec2ba; }
#base24-solarized-dark-higher-contrast .Statement { color: #c61b6e; font-weight: bold; }
#base24-solarized-dark-higher-contrast .PreProc { color: #259185; }
#base24-solarized-dark-higher-contrast .Operator { color: #259185; }
#base24-solarized-dark-higher-contrast .Comment { color: #3a8298; font-style: italic; }
#base24-solarized-dark-higher-contrast .String { color: #6bbe6c; font-style: italic; }
#base24-solarized-dark-higher-contrast .Number { color: #a57705; }
#base24-solarized-dark-higher-contrast .Function { color: #2075c7; }
#base24-solarized-dark-higher-contrast .Conditional { color: #c61b6e; }
