#base24-space-gray-eighties-dull pre { white-space: pre-wrap; font-family: monospace; color: #9a9fa6; background-color: #212121; }
#base24-space-gray-eighties-dull pre { font-family: monospace; color: #9a9fa6; background-color: #212121; }
#base24-space-gray-eighties-dull * { font-size: 1em; }
#base24-space-gray-eighties-dull .Identifier { color: #9a9fa6; }
#base24-space-gray-eighties-dull .Statement { color: #a5779e; font-weight: bold; }
#base24-space-gray-eighties-dull .PreProc { color: #7fcccb; }
#base24-space-gray-eighties-dull .Operator { color: #7fcccb; }
#base24-space-gray-eighties-dull .Comment { color: #6c6d70; font-style: italic; }
#base24-space-gray-eighties-dull .String { color: #91b377; font-style: italic; }
#base24-space-gray-eighties-dull .Number { color: #c6725a; }
#base24-space-gray-eighties-dull .Function { color: #7b8fa4; }
#base24-space-gray-eighties-dull .Conditional { color: #a5779e; }
