#base24-hybrid pre { white-space: pre-wrap; font-family: monospace; color: #8f9190; background-color: #161718; }
#base24-hybrid pre { font-family: monospace; color: #8f9190; background-color: #161718; }
#base24-hybrid * { font-size: 1em; }
#base24-hybrid .Identifier { color: #8f9190; }
#base24-hybrid .Statement { color: #a07eab; font-weight: bold; }
#base24-hybrid .PreProc { color: #7fbeb3; }
#base24-hybrid .Operator { color: #7fbeb3; }
#base24-hybrid .Comment { color: #434446; font-style: italic; }
#base24-hybrid .String { color: #b3be5a; font-style: italic; }
#base24-hybrid .Number { color: #e3b55e; }
#base24-hybrid .Function { color: #6d90b0; }
#base24-hybrid .Conditional { color: #a07eab; }
