#base24-front-end-delight pre { white-space: pre-wrap; font-family: monospace; color: #98ac9c; background-color: #1b1b1d; }
#base24-front-end-delight pre { font-family: monospace; color: #98ac9c; background-color: #1b1b1d; }
#base24-front-end-delight * { font-size: 1em; }
#base24-front-end-delight .Identifier { color: #98ac9c; }
#base24-front-end-delight .Statement { color: #f02d4e; font-weight: bold; }
#base24-front-end-delight .PreProc { color: #3ba0a5; }
#base24-front-end-delight .Operator { color: #3ba0a5; }
#base24-front-end-delight .Comment { color: #71ac7c; font-style: italic; }
#base24-front-end-delight .String { color: #565746; font-style: italic; }
#base24-front-end-delight .Number { color: #f9761d; }
#base24-front-end-delight .Function { color: #2c70b7; }
#base24-front-end-delight .Conditional { color: #f02d4e; }
