#base24-scarlet-protocol pre { white-space: pre-wrap; font-family: monospace; color: #afafaf; background-color: #1b153c; }
#base24-scarlet-protocol pre { font-family: monospace; color: #afafaf; background-color: #1b153c; }
#base24-scarlet-protocol * { font-size: 1em; }
#base24-scarlet-protocol .Identifier { color: #afafaf; }
#base24-scarlet-protocol .Statement { color: #c930c7; font-weight: bold; }
#base24-scarlet-protocol .PreProc { color: #00c5c7; }
#base24-scarlet-protocol .Operator { color: #00c5c7; }
#base24-scarlet-protocol .Comment { color: #7f7f7f; font-style: italic; }
#base24-scarlet-protocol .String { color: #00dc84; font-style: italic; }
#base24-scarlet-protocol .Number { color: #faf945; }
#base24-scarlet-protocol .Function { color: #0271b6; }
#base24-scarlet-protocol .Conditional { color: #c930c7; }
