#base24-violet-light pre { white-space: pre-wrap; font-family: monospace; color: #afaea9; background-color: #fcf4dc; }
#base24-violet-light pre { font-family: monospace; color: #afaea9; background-color: #fcf4dc; }
#base24-violet-light * { font-size: 1em; }
#base24-violet-light .Identifier { color: #afaea9; }
#base24-violet-light .Statement { color: #d13a82; font-weight: bold; }
#base24-violet-light .PreProc { color: #32a198; }
#base24-violet-light .Operator { color: #32a198; }
#base24-violet-light .Comment { color: #686a6a; font-style: italic; }
#base24-violet-light .String { color: #85981c; font-style: italic; }
#base24-violet-light .Number { color: #b4881d; }
#base24-violet-light .Function { color: #2e8bce; }
#base24-violet-light .Conditional { color: #d13a82; }
