#base24-kanagawa-dragon pre { white-space: pre-wrap; font-family: monospace; color: #c5c9c5; background-color: #181616; }
#base24-kanagawa-dragon pre { font-family: monospace; color: #c5c9c5; background-color: #181616; }
#base24-kanagawa-dragon * { font-size: 1em; }
#base24-kanagawa-dragon .Identifier { color: #c5c9c5; }
#base24-kanagawa-dragon .Statement { color: #a292a3; font-weight: bold; }
#base24-kanagawa-dragon .PreProc { color: #8ea4a2; }
#base24-kanagawa-dragon .Operator { color: #8ea4a2; }
#base24-kanagawa-dragon .Comment { color: #625e5a; font-style: italic; }
#base24-kanagawa-dragon .String { color: #8a9a7b; font-style: italic; }
#base24-kanagawa-dragon .Number { color: #b6927b; }
#base24-kanagawa-dragon .Function { color: #8ba4b0; }
#base24-kanagawa-dragon .Conditional { color: #a292a3; }
