#base24-breeze pre { white-space: pre-wrap; font-family: monospace; color: #d3d7d8; background-color: #31363b; }
#base24-breeze pre { font-family: monospace; color: #d3d7d8; background-color: #31363b; }
#base24-breeze * { font-size: 1em; }
#base24-breeze .Identifier { color: #d3d7d8; }
#base24-breeze .Statement { color: #9b59b6; font-weight: bold; }
#base24-breeze .PreProc { color: #1abc9c; }
#base24-breeze .Operator { color: #1abc9c; }
#base24-breeze .Comment { color: #9ba5a6; font-style: italic; }
#base24-breeze .String { color: #11d116; font-style: italic; }
#base24-breeze .Number { color: #f67400; }
#base24-breeze .Function { color: #1d99f3; }
#base24-breeze .Conditional { color: #9b59b6; }
