#base16-chicago-night pre { white-space: pre-wrap; font-family: monospace; color: #a7b8af; background-color: #1e2a24; }
#base16-chicago-night pre { font-family: monospace; color: #a7b8af; background-color: #1e2a24; }
#base16-chicago-night * { font-size: 1em; }
#base16-chicago-night .Identifier { color: #a7b8af; }
#base16-chicago-night .Statement { color: #e27ea6; font-weight: bold; }
#base16-chicago-night .PreProc { color: #00a1de; }
#base16-chicago-night .Operator { color: #00a1de; }
#base16-chicago-night .Comment { color: #5f7368; font-style: italic; }
#base16-chicago-night .String { color: #009b3a; font-style: italic; }
#base16-chicago-night .Number { color: #f9461c; }
#base16-chicago-night .Function { color: #522398; }
#base16-chicago-night .Conditional { color: #e27ea6; }
