#base16-everforest-light-hard pre { white-space: pre-wrap; font-family: monospace; color: #5c6a72; background-color: #fffbef; }
#base16-everforest-light-hard pre { font-family: monospace; color: #5c6a72; background-color: #fffbef; }
#base16-everforest-light-hard * { font-size: 1em; }
#base16-everforest-light-hard .Identifier { color: #5c6a72; }
#base16-everforest-light-hard .Statement { color: #df69ba; font-weight: bold; }
#base16-everforest-light-hard .PreProc { color: #35a77c; }
#base16-everforest-light-hard .Operator { color: #35a77c; }
#base16-everforest-light-hard .Comment { color: #939f91; font-style: italic; }
#base16-everforest-light-hard .String { color: #8da101; font-style: italic; }
#base16-everforest-light-hard .Number { color: #f57d26; }
#base16-everforest-light-hard .Function { color: #3a94c5; }
#base16-everforest-light-hard .Conditional { color: #df69ba; }
