#base24-paul-millr pre { white-space: pre-wrap; font-family: monospace; color: #a5a5a5; background-color: #000000; }
#base24-paul-millr pre { font-family: monospace; color: #a5a5a5; background-color: #000000; }
#base24-paul-millr * { font-size: 1em; }
#base24-paul-millr .Identifier { color: #a5a5a5; }
#base24-paul-millr .Statement { color: #b349be; font-weight: bold; }
#base24-paul-millr .PreProc { color: #66ccff; }
#base24-paul-millr .Operator { color: #66ccff; }
#base24-paul-millr .Comment { color: #7b7b7b; font-style: italic; }
#base24-paul-millr .String { color: #79ff0f; font-style: italic; }
#base24-paul-millr .Number { color: #e7bf00; }
#base24-paul-millr .Function { color: #386bd7; }
#base24-paul-millr .Conditional { color: #b349be; }
