#base24-vibrant-ink pre { white-space: pre-wrap; font-family: monospace; color: #cdcdcd; background-color: #000000; }
#base24-vibrant-ink pre { font-family: monospace; color: #cdcdcd; background-color: #000000; }
#base24-vibrant-ink * { font-size: 1em; }
#base24-vibrant-ink .Identifier { color: #cdcdcd; }
#base24-vibrant-ink .Statement { color: #9933cc; font-weight: bold; }
#base24-vibrant-ink .PreProc { color: #44b3cc; }
#base24-vibrant-ink .Operator { color: #44b3cc; }
#base24-vibrant-ink .Comment { color: #7d7d7d; font-style: italic; }
#base24-vibrant-ink .String { color: #ccff04; font-style: italic; }
#base24-vibrant-ink .Number { color: #ffcc00; }
#base24-vibrant-ink .Function { color: #44b3cc; }
#base24-vibrant-ink .Conditional { color: #9933cc; }
