#base24-pro-light pre { white-space: pre-wrap; font-family: monospace; color: #4f4f4f; background-color: #feffff; }
#base24-pro-light pre { font-family: monospace; color: #4f4f4f; background-color: #feffff; }
#base24-pro-light * { font-size: 1em; }
#base24-pro-light .Identifier { color: #4f4f4f; }
#base24-pro-light .Statement { color: #ec65e7; font-weight: bold; }
#base24-pro-light .PreProc { color: #4ed1dd; }
#base24-pro-light .Operator { color: #4ed1dd; }
#base24-pro-light .Comment { color: #cccccc; font-style: italic; }
#base24-pro-light .String { color: #50d048; font-style: italic; }
#base24-pro-light .Number { color: #c58e40; }
#base24-pro-light .Function { color: #3a75ff; }
#base24-pro-light .Conditional { color: #ec65e7; }
