#base24-fish-tank pre { white-space: pre-wrap; font-family: monospace; color: #ccc9c9; background-color: #222436; }
#base24-fish-tank pre { font-family: monospace; color: #ccc9c9; background-color: #222436; }
#base24-fish-tank * { font-size: 1em; }
#base24-fish-tank .Identifier { color: #ccc9c9; }
#base24-fish-tank .Statement { color: #976f81; font-weight: bold; }
#base24-fish-tank .PreProc { color: #968662; }
#base24-fish-tank .Operator { color: #968662; }
#base24-fish-tank .Comment { color: #8c7f63; font-style: italic; }
#base24-fish-tank .String { color: #abf157; font-style: italic; }
#base24-fish-tank .Number { color: #fdcd5e; }
#base24-fish-tank .Function { color: #525fb8; }
#base24-fish-tank .Conditional { color: #976f81; }
