#base24-arthur pre { white-space: pre-wrap; font-family: monospace; color: #a19083; background-color: #1c1c1c; }
#base24-arthur pre { font-family: monospace; color: #a19083; background-color: #1c1c1c; }
#base24-arthur * { font-size: 1em; }
#base24-arthur .Identifier { color: #a19083; }
#base24-arthur .Statement { color: #deb887; font-weight: bold; }
#base24-arthur .PreProc { color: #b0c4de; }
#base24-arthur .Operator { color: #b0c4de; }
#base24-arthur .Comment { color: #6e5d59; font-style: italic; }
#base24-arthur .String { color: #86af80; font-style: italic; }
#base24-arthur .Number { color: #e8ae5b; }
#base24-arthur .Function { color: #6495ed; }
#base24-arthur .Conditional { color: #deb887; }
