#base24-pro pre { white-space: pre-wrap; font-family: monospace; color: #a8a8a8; background-color: #000000; }
#base24-pro pre { font-family: monospace; color: #a8a8a8; background-color: #000000; }
#base24-pro * { font-size: 1em; }
#base24-pro .Identifier { color: #a8a8a8; }
#base24-pro .Statement { color: #b200b2; font-weight: bold; }
#base24-pro .PreProc { color: #00a6b2; }
#base24-pro .Operator { color: #00a6b2; }
#base24-pro .Comment { color: #7c7c7c; font-style: italic; }
#base24-pro .String { color: #00a600; font-style: italic; }
#base24-pro .Number { color: #999900; }
#base24-pro .Function { color: #1f08db; }
#base24-pro .Conditional { color: #b200b2; }
