#base16-papercolor-dark pre { white-space: pre-wrap; font-family: monospace; color: #9e9e9e; background-color: #1c1c1c; }
#base16-papercolor-dark pre { font-family: monospace; color: #9e9e9e; background-color: #1c1c1c; }
#base16-papercolor-dark * { font-size: 1em; }
#base16-papercolor-dark .Identifier { color: #9e9e9e; }
#base16-papercolor-dark .Statement { color: #af87d7; font-weight: bold; }
#base16-papercolor-dark .PreProc { color: #00afaf; }
#base16-papercolor-dark .Operator { color: #00afaf; }
#base16-papercolor-dark .Comment { color: #585858; font-style: italic; }
#base16-papercolor-dark .String { color: #5faf5f; font-style: italic; }
#base16-papercolor-dark .Number { color: #d7af5f; }
#base16-papercolor-dark .Function { color: #5fafd7; }
#base16-papercolor-dark .Conditional { color: #af87d7; }
