#base24-ultra-violet pre { white-space: pre-wrap; font-family: monospace; color: #c1c2c2; background-color: #242728; }
#base24-ultra-violet pre { font-family: monospace; color: #c1c2c2; background-color: #242728; }
#base24-ultra-violet * { font-size: 1em; }
#base24-ultra-violet .Identifier { color: #c1c2c2; }
#base24-ultra-violet .Statement { color: #d630ff; font-weight: bold; }
#base24-ultra-violet .PreProc { color: #0effbb; }
#base24-ultra-violet .Operator { color: #0effbb; }
#base24-ultra-violet .Comment { color: #818484; font-style: italic; }
#base24-ultra-violet .String { color: #b5ff00; font-style: italic; }
#base24-ultra-violet .Number { color: #fff727; }
#base24-ultra-violet .Function { color: #47dffb; }
#base24-ultra-violet .Conditional { color: #d630ff; }
