#base24-espresso-libre pre { white-space: pre-wrap; font-family: monospace; color: #b3b7b0; background-color: #2a211c; }
#base24-espresso-libre pre { font-family: monospace; color: #b3b7b0; background-color: #2a211c; }
#base24-espresso-libre * { font-size: 1em; }
#base24-espresso-libre .Identifier { color: #b3b7b0; }
#base24-espresso-libre .Statement { color: #c5656b; font-weight: bold; }
#base24-espresso-libre .PreProc { color: #05989a; }
#base24-espresso-libre .Operator { color: #05989a; }
#base24-espresso-libre .Comment { color: #737772; font-style: italic; }
#base24-espresso-libre .String { color: #1a921c; font-style: italic; }
#base24-espresso-libre .Number { color: #efe43a; }
#base24-espresso-libre .Function { color: #0066ff; }
#base24-espresso-libre .Conditional { color: #c5656b; }
