#base24-builtin-tango-dark pre { white-space: pre-wrap; font-family: monospace; color: #b3b7b0; background-color: #000000; }
#base24-builtin-tango-dark pre { font-family: monospace; color: #b3b7b0; background-color: #000000; }
#base24-builtin-tango-dark * { font-size: 1em; }
#base24-builtin-tango-dark .Identifier { color: #b3b7b0; }
#base24-builtin-tango-dark .Statement { color: #74507a; font-weight: bold; }
#base24-builtin-tango-dark .PreProc { color: #05989a; }
#base24-builtin-tango-dark .Operator { color: #05989a; }
#base24-builtin-tango-dark .Comment { color: #737772; font-style: italic; }
#base24-builtin-tango-dark .String { color: #4e9a05; font-style: italic; }
#base24-builtin-tango-dark .Number { color: #c4a000; }
#base24-builtin-tango-dark .Function { color: #3464a4; }
#base24-builtin-tango-dark .Conditional { color: #74507a; }
