#base16-chinoiserie-night pre { white-space: pre-wrap; font-family: monospace; color: #c4cbcf; background-color: #1d1d1d; }
#base16-chinoiserie-night pre { font-family: monospace; color: #c4cbcf; background-color: #1d1d1d; }
#base16-chinoiserie-night * { font-size: 1em; }
#base16-chinoiserie-night .Identifier { color: #c4cbcf; }
#base16-chinoiserie-night .Statement { color: #be9db9; font-weight: bold; }
#base16-chinoiserie-night .PreProc { color: #b0d5df; }
#base16-chinoiserie-night .Operator { color: #b0d5df; }
#base16-chinoiserie-night .Comment { color: #918072; font-style: italic; }
#base16-chinoiserie-night .String { color: #b2cf87; font-style: italic; }
#base16-chinoiserie-night .Number { color: #f4a83a; }
#base16-chinoiserie-night .Function { color: #8fb2c9; }
#base16-chinoiserie-night .Conditional { color: #be9db9; }
