#base24-twilight pre { white-space: pre-wrap; font-family: monospace; color: #c8c8a7; background-color: #141414; }
#base24-twilight pre { font-family: monospace; color: #c8c8a7; background-color: #141414; }
#base24-twilight * { font-size: 1em; }
#base24-twilight .Identifier { color: #c8c8a7; }
#base24-twilight .Statement { color: #b4be7b; font-weight: bold; }
#base24-twilight .PreProc { color: #778284; }
#base24-twilight .Operator { color: #778284; }
#base24-twilight .Comment { color: #5c5c51; font-style: italic; }
#base24-twilight .String { color: #afb979; font-style: italic; }
#base24-twilight .Number { color: #c2a86c; }
#base24-twilight .Function { color: #444649; }
#base24-twilight .Conditional { color: #b4be7b; }
