#base16-penumbra-dark pre { white-space: pre-wrap; font-family: monospace; color: #bebebe; background-color: #24272b; }
#base16-penumbra-dark pre { font-family: monospace; color: #bebebe; background-color: #24272b; }
#base16-penumbra-dark * { font-size: 1em; }
#base16-penumbra-dark .Identifier { color: #bebebe; }
#base16-penumbra-dark .Statement { color: #9481cc; font-weight: bold; }
#base16-penumbra-dark .PreProc { color: #00a2af; }
#base16-penumbra-dark .Operator { color: #00a2af; }
#base16-penumbra-dark .Comment { color: #636363; font-style: italic; }
#base16-penumbra-dark .String { color: #47a477; font-style: italic; }
#base16-penumbra-dark .Number { color: #ba823a; }
#base16-penumbra-dark .Function { color: #5794d0; }
#base16-penumbra-dark .Conditional { color: #9481cc; }
