#base24-birds-of-paradise pre { white-space: pre-wrap; font-family: monospace; color: #cdbe9b; background-color: #2a1e1d; }
#base24-birds-of-paradise pre { font-family: monospace; color: #cdbe9b; background-color: #2a1e1d; }
#base24-birds-of-paradise * { font-size: 1em; }
#base24-birds-of-paradise .Identifier { color: #cdbe9b; }
#base24-birds-of-paradise .Statement { color: #ab80a6; font-weight: bold; }
#base24-birds-of-paradise .PreProc { color: #74a5ac; }
#base24-birds-of-paradise .Operator { color: #74a5ac; }
#base24-birds-of-paradise .Comment { color: #ab8664; font-style: italic; }
#base24-birds-of-paradise .String { color: #6ba08a; font-style: italic; }
#base24-birds-of-paradise .Number { color: #e99c29; }
#base24-birds-of-paradise .Function { color: #5a86ac; }
#base24-birds-of-paradise .Conditional { color: #ab80a6; }
