#base24-ayu-light pre { white-space: pre-wrap; font-family: monospace; color: #cbcbcb; background-color: #fafafa; }
#base24-ayu-light pre { font-family: monospace; color: #cbcbcb; background-color: #fafafa; }
#base24-ayu-light * { font-size: 1em; }
#base24-ayu-light .Identifier { color: #cbcbcb; }
#base24-ayu-light .Statement { color: #f07178; font-weight: bold; }
#base24-ayu-light .PreProc { color: #4dbf99; }
#base24-ayu-light .Operator { color: #4dbf99; }
#base24-ayu-light .Comment { color: #656565; font-style: italic; }
#base24-ayu-light .String { color: #86b300; font-style: italic; }
#base24-ayu-light .Number { color: #f29718; }
#base24-ayu-light .Function { color: #41a6d9; }
#base24-ayu-light .Conditional { color: #f07178; }
