#base24-terminal-basic pre { white-space: pre-wrap; font-family: monospace; color: #a8a8a8; background-color: #ffffff; }
#base24-terminal-basic pre { font-family: monospace; color: #a8a8a8; background-color: #ffffff; }
#base24-terminal-basic * { font-size: 1em; }
#base24-terminal-basic .Identifier { color: #a8a8a8; }
#base24-terminal-basic .Statement { color: #b200b2; font-weight: bold; }
#base24-terminal-basic .PreProc { color: #00a6b2; }
#base24-terminal-basic .Operator { color: #00a6b2; }
#base24-terminal-basic .Comment { color: #7c7c7c; font-style: italic; }
#base24-terminal-basic .String { color: #00a600; font-style: italic; }
#base24-terminal-basic .Number { color: #999900; }
#base24-terminal-basic .Function { color: #0000b2; }
#base24-terminal-basic .Conditional { color: #b200b2; }
