#base24-pnevma pre { white-space: pre-wrap; font-family: monospace; color: #aeaead; background-color: #1c1c1c; }
#base24-pnevma pre { font-family: monospace; color: #aeaead; background-color: #1c1c1c; }
#base24-pnevma * { font-size: 1em; }
#base24-pnevma .Identifier { color: #aeaead; }
#base24-pnevma .Statement { color: #c79ec4; font-weight: bold; }
#base24-pnevma .PreProc { color: #8adbb4; }
#base24-pnevma .Operator { color: #8adbb4; }
#base24-pnevma .Comment { color: #6b6a67; font-style: italic; }
#base24-pnevma .String { color: #90a57d; font-style: italic; }
#base24-pnevma .Number { color: #d7af87; }
#base24-pnevma .Function { color: #7fa5bd; }
#base24-pnevma .Conditional { color: #c79ec4; }
