#base24-red-planet pre { white-space: pre-wrap; font-family: monospace; color: #a4998c; background-color: #222222; }
#base24-red-planet pre { font-family: monospace; color: #a4998c; background-color: #222222; }
#base24-red-planet * { font-size: 1em; }
#base24-red-planet .Identifier { color: #a4998c; }
#base24-red-planet .Statement { color: #896492; font-weight: bold; }
#base24-red-planet .PreProc { color: #5b8390; }
#base24-red-planet .Operator { color: #5b8390; }
#base24-red-planet .Comment { color: #7b7773; font-style: italic; }
#base24-red-planet .String { color: #728271; font-style: italic; }
#base24-red-planet .Number { color: #e8bf6a; }
#base24-red-planet .Function { color: #69809e; }
#base24-red-planet .Conditional { color: #896492; }
