#base16-ascendancy pre { white-space: pre-wrap; font-family: monospace; color: #d5c7a1; background-color: #282828; }
#base16-ascendancy pre { font-family: monospace; color: #d5c7a1; background-color: #282828; }
#base16-ascendancy * { font-size: 1em; }
#base16-ascendancy .Identifier { color: #d5c7a1; }
#base16-ascendancy .Statement { color: #fabd2f; font-weight: bold; }
#base16-ascendancy .PreProc { color: #8f3f71; }
#base16-ascendancy .Operator { color: #8f3f71; }
#base16-ascendancy .Comment { color: #928374; font-style: italic; }
#base16-ascendancy .String { color: #b8bb26; font-style: italic; }
#base16-ascendancy .Number { color: #fe8019; }
#base16-ascendancy .Function { color: #458588; }
#base16-ascendancy .Conditional { color: #fabd2f; }
