#base24-wryan pre { white-space: pre-wrap; font-family: monospace; color: #768488; background-color: #101010; }
#base24-wryan pre { font-family: monospace; color: #768488; background-color: #101010; }
#base24-wryan * { font-size: 1em; }
#base24-wryan .Identifier { color: #768488; }
#base24-wryan .Statement { color: #5e468c; font-weight: bold; }
#base24-wryan .PreProc { color: #31658c; }
#base24-wryan .Operator { color: #31658c; }
#base24-wryan .Comment { color: #505456; font-style: italic; }
#base24-wryan .String { color: #287373; font-style: italic; }
#base24-wryan .Number { color: #7c7c99; }
#base24-wryan .Function { color: #395573; }
#base24-wryan .Conditional { color: #5e468c; }
