#base24-borland pre { white-space: pre-wrap; font-family: monospace; color: #d1d1d1; background-color: #0000a4; }
#base24-borland pre { font-family: monospace; color: #d1d1d1; background-color: #0000a4; }
#base24-borland * { font-size: 1em; }
#base24-borland .Identifier { color: #d1d1d1; }
#base24-borland .Statement { color: #ff73fd; font-weight: bold; }
#base24-borland .PreProc { color: #c6c4fd; }
#base24-borland .Operator { color: #c6c4fd; }
#base24-borland .Comment { color: #989898; font-style: italic; }
#base24-borland .String { color: #a7ff60; font-style: italic; }
#base24-borland .Number { color: #ffffb6; }
#base24-borland .Function { color: #96cafd; }
#base24-borland .Conditional { color: #ff73fd; }
