#base16-hardhacker pre { white-space: pre-wrap; font-family: monospace; color: #e4dee9; background-color: #211e2a; }
#base16-hardhacker pre { font-family: monospace; color: #e4dee9; background-color: #211e2a; }
#base16-hardhacker * { font-size: 1em; }
#base16-hardhacker .Identifier { color: #e4dee9; }
#base16-hardhacker .Statement { color: #ff79c6; font-weight: bold; }
#base16-hardhacker .PreProc { color: #b3f4f3; }
#base16-hardhacker .Operator { color: #b3f4f3; }
#base16-hardhacker .Comment { color: #6e6780; font-style: italic; }
#base16-hardhacker .String { color: #b1f2a7; font-style: italic; }
#base16-hardhacker .Number { color: #f4b870; }
#base16-hardhacker .Function { color: #95a6f4; }
#base16-hardhacker .Conditional { color: #ff79c6; }
