#base24-red-sands pre { white-space: pre-wrap; font-family: monospace; color: #a1a1a1; background-color: #79241e; }
#base24-red-sands pre { font-family: monospace; color: #a1a1a1; background-color: #79241e; }
#base24-red-sands * { font-size: 1em; }
#base24-red-sands .Identifier { color: #a1a1a1; }
#base24-red-sands .Statement { color: #bb00bb; font-weight: bold; }
#base24-red-sands .PreProc { color: #00bbbb; }
#base24-red-sands .Operator { color: #00bbbb; }
#base24-red-sands .Comment { color: #6e6e6e; font-style: italic; }
#base24-red-sands .String { color: #00bb00; font-style: italic; }
#base24-red-sands .Number { color: #e7b000; }
#base24-red-sands .Function { color: #0071ff; }
#base24-red-sands .Conditional { color: #bb00bb; }
