#base24-spiderman pre { white-space: pre-wrap; font-family: monospace; color: #d3d3cd; background-color: #1b1d1e; }
#base24-spiderman pre { font-family: monospace; color: #d3d3cd; background-color: #1b1d1e; }
#base24-spiderman * { font-size: 1em; }
#base24-spiderman .Identifier { color: #d3d3cd; }
#base24-spiderman .Statement { color: #2435db; font-weight: bold; }
#base24-spiderman .PreProc { color: #3255ff; }
#base24-spiderman .Operator { color: #3255ff; }
#base24-spiderman .Comment { color: #7b7d7c; font-style: italic; }
#base24-spiderman .String { color: #e22828; font-style: italic; }
#base24-spiderman .Number { color: #e24655; }
#base24-spiderman .Function { color: #2b3fff; }
#base24-spiderman .Conditional { color: #2435db; }
