#base24-oceanic-material pre { white-space: pre-wrap; font-family: monospace; color: #989898; background-color: #1c262b; }
#base24-oceanic-material pre { font-family: monospace; color: #989898; background-color: #1c262b; }
#base24-oceanic-material * { font-size: 1em; }
#base24-oceanic-material .Identifier { color: #989898; }
#base24-oceanic-material .Statement { color: #8800a0; font-weight: bold; }
#base24-oceanic-material .PreProc { color: #16aec9; }
#base24-oceanic-material .Operator { color: #16aec9; }
#base24-oceanic-material .Comment { color: #818181; font-style: italic; }
#base24-oceanic-material .String { color: #3fa33f; font-style: italic; }
#base24-oceanic-material .Number { color: #fee92e; }
#base24-oceanic-material .Function { color: #1d80ef; }
#base24-oceanic-material .Conditional { color: #8800a0; }
