#base24-piatto-light pre { white-space: pre-wrap; font-family: monospace; color: #cfcfcf; background-color: #ffffff; }
#base24-piatto-light pre { font-family: monospace; color: #cfcfcf; background-color: #ffffff; }
#base24-piatto-light * { font-size: 1em; }
#base24-piatto-light .Identifier { color: #cfcfcf; }
#base24-piatto-light .Statement { color: #a454b2; font-weight: bold; }
#base24-piatto-light .PreProc { color: #66781e; }
#base24-piatto-light .Operator { color: #66781e; }
#base24-piatto-light .Comment { color: #6f6f6f; font-style: italic; }
#base24-piatto-light .String { color: #66781e; font-style: italic; }
#base24-piatto-light .Number { color: #cd6f34; }
#base24-piatto-light .Function { color: #3c5ea8; }
#base24-piatto-light .Conditional { color: #a454b2; }
