#base24-chalkboard pre { white-space: pre-wrap; font-family: monospace; color: #afafaf; background-color: #29262f; }
#base24-chalkboard pre { font-family: monospace; color: #afafaf; background-color: #29262f; }
#base24-chalkboard * { font-size: 1em; }
#base24-chalkboard .Identifier { color: #afafaf; }
#base24-chalkboard .Statement { color: #c372c2; font-weight: bold; }
#base24-chalkboard .PreProc { color: #72c2c3; }
#base24-chalkboard .Operator { color: #72c2c3; }
#base24-chalkboard .Comment { color: #5b5b5b; font-style: italic; }
#base24-chalkboard .String { color: #72c373; font-style: italic; }
#base24-chalkboard .Number { color: #c2c372; }
#base24-chalkboard .Function { color: #7372c3; }
#base24-chalkboard .Conditional { color: #c372c2; }
