#base24-wombat pre { white-space: pre-wrap; font-family: monospace; color: #b2afa6; background-color: #171717; }
#base24-wombat pre { font-family: monospace; color: #b2afa6; background-color: #171717; }
#base24-wombat * { font-size: 1em; }
#base24-wombat .Identifier { color: #b2afa6; }
#base24-wombat .Statement { color: #e86aff; font-weight: bold; }
#base24-wombat .PreProc { color: #82fff6; }
#base24-wombat .Operator { color: #82fff6; }
#base24-wombat .Comment { color: #5c5b58; font-style: italic; }
#base24-wombat .String { color: #b1e869; font-style: italic; }
#base24-wombat .Number { color: #ead89c; }
#base24-wombat .Function { color: #5da9f6; }
#base24-wombat .Conditional { color: #e86aff; }
