#base24-shaman pre { white-space: pre-wrap; font-family: monospace; color: #3d5053; background-color: #001014; }
#base24-shaman pre { font-family: monospace; color: #3d5053; background-color: #001014; }
#base24-shaman * { font-size: 1em; }
#base24-shaman .Identifier { color: #3d5053; }
#base24-shaman .Statement { color: #00599c; font-weight: bold; }
#base24-shaman .PreProc { color: #5c7e19; }
#base24-shaman .Operator { color: #5c7e19; }
#base24-shaman .Comment { color: #394751; font-style: italic; }
#base24-shaman .String { color: #00a940; font-style: italic; }
#base24-shaman .Number { color: #5d8aa9; }
#base24-shaman .Function { color: #449985; }
#base24-shaman .Conditional { color: #00599c; }
