#base24-obsidian pre { white-space: pre-wrap; font-family: monospace; color: #a1a1a1; background-color: #273032; }
#base24-obsidian pre { font-family: monospace; color: #a1a1a1; background-color: #273032; }
#base24-obsidian * { font-size: 1em; }
#base24-obsidian .Identifier { color: #a1a1a1; }
#base24-obsidian .Statement { color: #bb00bb; font-weight: bold; }
#base24-obsidian .PreProc { color: #00bbbb; }
#base24-obsidian .Operator { color: #00bbbb; }
#base24-obsidian .Comment { color: #6e6e6e; font-style: italic; }
#base24-obsidian .String { color: #00bb00; font-style: italic; }
#base24-obsidian .Number { color: #fecc22; }
#base24-obsidian .Function { color: #399bda; }
#base24-obsidian .Conditional { color: #bb00bb; }
