#base24-3024-day pre { white-space: pre-wrap; font-family: monospace; color: #928f8e; background-color: #f7f7f7; }
#base24-3024-day pre { font-family: monospace; color: #928f8e; background-color: #f7f7f7; }
#base24-3024-day * { font-size: 1em; }
#base24-3024-day .Identifier { color: #928f8e; }
#base24-3024-day .Statement { color: #a16a94; font-weight: bold; }
#base24-3024-day .PreProc { color: #b5e4f4; }
#base24-3024-day .Operator { color: #b5e4f4; }
#base24-3024-day .Comment { color: #6e6a68; font-style: italic; }
#base24-3024-day .String { color: #01a252; font-style: italic; }
#base24-3024-day .Number { color: #fded02; }
#base24-3024-day .Function { color: #01a0e4; }
#base24-3024-day .Conditional { color: #a16a94; }
