#base16-chinoiserie-morandi pre { white-space: pre-wrap; font-family: monospace; color: #c4cbcf; background-color: #1d1d1d; }
#base16-chinoiserie-morandi pre { font-family: monospace; color: #c4cbcf; background-color: #1d1d1d; }
#base16-chinoiserie-morandi * { font-size: 1em; }
#base16-chinoiserie-morandi .Identifier { color: #c4cbcf; }
#base16-chinoiserie-morandi .Statement { color: #98a1d8; font-weight: bold; }
#base16-chinoiserie-morandi .PreProc { color: #5e8c9b; }
#base16-chinoiserie-morandi .Operator { color: #5e8c9b; }
#base16-chinoiserie-morandi .Comment { color: #918072; font-style: italic; }
#base16-chinoiserie-morandi .String { color: #8ca07b; font-style: italic; }
#base16-chinoiserie-morandi .Number { color: #ff937f; }
#base16-chinoiserie-morandi .Function { color: #839ec9; }
#base16-chinoiserie-morandi .Conditional { color: #98a1d8; }
