#base24-lavandula pre { white-space: pre-wrap; font-family: monospace; color: #645d6f; background-color: #050014; }
#base24-lavandula pre { font-family: monospace; color: #645d6f; background-color: #050014; }
#base24-lavandula * { font-size: 1em; }
#base24-lavandula .Identifier { color: #645d6f; }
#base24-lavandula .Statement { color: #593f7e; font-weight: bold; }
#base24-lavandula .PreProc { color: #57767f; }
#base24-lavandula .Operator { color: #57767f; }
#base24-lavandula .Comment { color: #463c53; font-style: italic; }
#base24-lavandula .String { color: #337e6f; font-style: italic; }
#base24-lavandula .Number { color: #7f6f49; }
#base24-lavandula .Function { color: #4f4a7f; }
#base24-lavandula .Conditional { color: #593f7e; }
