#base24-operator-mono-dark pre { white-space: pre-wrap; font-family: monospace; color: #c0c4c0; background-color: #191919; }
#base24-operator-mono-dark pre { font-family: monospace; color: #c0c4c0; background-color: #191919; }
#base24-operator-mono-dark * { font-size: 1em; }
#base24-operator-mono-dark .Identifier { color: #c0c4c0; }
#base24-operator-mono-dark .Statement { color: #b86cb4; font-weight: bold; }
#base24-operator-mono-dark .PreProc { color: #72d4c6; }
#base24-operator-mono-dark .Operator { color: #72d4c6; }
#base24-operator-mono-dark .Comment { color: #a6a8a6; font-style: italic; }
#base24-operator-mono-dark .String { color: #4d7b3a; font-style: italic; }
#base24-operator-mono-dark .Number { color: #d4d697; }
#base24-operator-mono-dark .Function { color: #4387cf; }
#base24-operator-mono-dark .Conditional { color: #b86cb4; }
