#base24-hopscotch pre { white-space: pre-wrap; font-family: monospace; color: #a9a4a8; background-color: #322931; }
#base24-hopscotch pre { font-family: monospace; color: #a9a4a8; background-color: #322931; }
#base24-hopscotch * { font-size: 1em; }
#base24-hopscotch .Identifier { color: #a9a4a8; }
#base24-hopscotch .Statement { color: #c85e7c; font-weight: bold; }
#base24-hopscotch .PreProc { color: #149b93; }
#base24-hopscotch .Operator { color: #149b93; }
#base24-hopscotch .Comment { color: #898388; font-style: italic; }
#base24-hopscotch .String { color: #8fc13e; font-style: italic; }
#base24-hopscotch .Number { color: #fdcc59; }
#base24-hopscotch .Function { color: #1290bf; }
#base24-hopscotch .Conditional { color: #c85e7c; }
