#base24-batman pre { white-space: pre-wrap; font-family: monospace; color: #a7a8a3; background-color: #1b1d1e; }
#base24-batman pre { font-family: monospace; color: #a7a8a3; background-color: #1b1d1e; }
#base24-batman * { font-size: 1em; }
#base24-batman .Identifier { color: #a7a8a3; }
#base24-batman .Statement { color: #737271; font-weight: bold; }
#base24-batman .PreProc { color: #615f5e; }
#base24-batman .Operator { color: #615f5e; }
#base24-batman .Comment { color: #6d6f6e; font-style: italic; }
#base24-batman .String { color: #c8be46; font-style: italic; }
#base24-batman .Number { color: #f3fd21; }
#base24-batman .Function { color: #737074; }
#base24-batman .Conditional { color: #737271; }
