#base24-hivacruz pre { white-space: pre-wrap; font-family: monospace; color: #8c92ac; background-color: #132537; }
#base24-hivacruz pre { font-family: monospace; color: #8c92ac; background-color: #132537; }
#base24-hivacruz * { font-size: 1em; }
#base24-hivacruz .Identifier { color: #8c92ac; }
#base24-hivacruz .Statement { color: #6679cc; font-weight: bold; }
#base24-hivacruz .PreProc { color: #22a2c9; }
#base24-hivacruz .Operator { color: #22a2c9; }
#base24-hivacruz .Comment { color: #767d9c; font-style: italic; }
#base24-hivacruz .String { color: #ac9739; font-style: italic; }
#base24-hivacruz .Number { color: #c08b30; }
#base24-hivacruz .Function { color: #3d8fd1; }
#base24-hivacruz .Conditional { color: #6679cc; }
