#base24-blazer pre { white-space: pre-wrap; font-family: monospace; color: #acacac; background-color: #0d1926; }
#base24-blazer pre { font-family: monospace; color: #acacac; background-color: #0d1926; }
#base24-blazer * { font-size: 1em; }
#base24-blazer .Identifier { color: #acacac; }
#base24-blazer .Statement { color: #b87ab8; font-weight: bold; }
#base24-blazer .PreProc { color: #7ab8b8; }
#base24-blazer .Operator { color: #7ab8b8; }
#base24-blazer .Comment { color: #525252; font-style: italic; }
#base24-blazer .String { color: #7ab87a; font-style: italic; }
#base24-blazer .Number { color: #b8b87a; }
#base24-blazer .Function { color: #7a7ab8; }
#base24-blazer .Conditional { color: #b87ab8; }
