#base24-japanesque pre { white-space: pre-wrap; font-family: monospace; color: #d0d2ce; background-color: #1d1d1d; }
#base24-japanesque pre { font-family: monospace; color: #d0d2ce; background-color: #1d1d1d; }
#base24-japanesque * { font-size: 1em; }
#base24-japanesque .Identifier { color: #d0d2ce; }
#base24-japanesque .Statement { color: #a57fc4; font-weight: bold; }
#base24-japanesque .PreProc { color: #389aac; }
#base24-japanesque .Operator { color: #389aac; }
#base24-japanesque .Comment { color: #80827f; font-style: italic; }
#base24-japanesque .String { color: #7bb75b; font-style: italic; }
#base24-japanesque .Number { color: #e8b32a; }
#base24-japanesque .Function { color: #4c99d3; }
#base24-japanesque .Conditional { color: #a57fc4; }
