#base24-broadcast pre { white-space: pre-wrap; font-family: monospace; color: #cbcbcb; background-color: #2b2b2b; }
#base24-broadcast pre { font-family: monospace; color: #cbcbcb; background-color: #2b2b2b; }
#base24-broadcast * { font-size: 1em; }
#base24-broadcast .Identifier { color: #cbcbcb; }
#base24-broadcast .Statement { color: #d0d0ff; font-weight: bold; }
#base24-broadcast .PreProc { color: #6e9cbe; }
#base24-broadcast .Operator { color: #6e9cbe; }
#base24-broadcast .Comment { color: #656565; font-style: italic; }
#base24-broadcast .String { color: #519f50; font-style: italic; }
#base24-broadcast .Number { color: #ffd24a; }
#base24-broadcast .Function { color: #6d9cbe; }
#base24-broadcast .Conditional { color: #d0d0ff; }
