#base16-gruvbox-dark pre { white-space: pre-wrap; font-family: monospace; color: #ebdbb2; background-color: #282828; }
#base16-gruvbox-dark pre { font-family: monospace; color: #ebdbb2; background-color: #282828; }
#base16-gruvbox-dark * { font-size: 1em; }
#base16-gruvbox-dark .Identifier { color: #ebdbb2; }
#base16-gruvbox-dark .Statement { color: #b16286; font-weight: bold; }
#base16-gruvbox-dark .PreProc { color: #689d6a; }
#base16-gruvbox-dark .Operator { color: #689d6a; }
#base16-gruvbox-dark .Comment { color: #665c54; font-style: italic; }
#base16-gruvbox-dark .String { color: #98971a; font-style: italic; }
#base16-gruvbox-dark .Number { color: #d65d0e; }
#base16-gruvbox-dark .Function { color: #458588; }
#base16-gruvbox-dark .Conditional { color: #b16286; }
