#base24-banana-blueberry pre { white-space: pre-wrap; font-family: monospace; color: #c6c9cd; background-color: #191322; }
#base24-banana-blueberry pre { font-family: monospace; color: #c6c9cd; background-color: #191322; }
#base24-banana-blueberry * { font-size: 1em; }
#base24-banana-blueberry .Identifier { color: #c6c9cd; }
#base24-banana-blueberry .Statement { color: #dc3969; font-weight: bold; }
#base24-banana-blueberry .PreProc { color: #55b6c1; }
#base24-banana-blueberry .Operator { color: #55b6c1; }
#base24-banana-blueberry .Comment { color: #727985; font-style: italic; }
#base24-banana-blueberry .String { color: #00bc9b; font-style: italic; }
#base24-banana-blueberry .Number { color: #e5c62f; }
#base24-banana-blueberry .Function { color: #22e8df; }
#base24-banana-blueberry .Conditional { color: #dc3969; }
