#base24-royal pre { white-space: pre-wrap; font-family: monospace; color: #49425a; background-color: #100814; }
#base24-royal pre { font-family: monospace; color: #49425a; background-color: #100814; }
#base24-royal * { font-size: 1em; }
#base24-royal .Identifier { color: #49425a; }
#base24-royal .Statement { color: #664d96; font-weight: bold; }
#base24-royal .PreProc { color: #8aaabd; }
#base24-royal .Operator { color: #8aaabd; }
#base24-royal .Comment { color: #393446; font-style: italic; }
#base24-royal .String { color: #23801c; font-style: italic; }
#base24-royal .Number { color: #b49d27; }
#base24-royal .Function { color: #6480af; }
#base24-royal .Conditional { color: #664d96; }
