#base24-purple-rain pre { white-space: pre-wrap; font-family: monospace; color: #d3d4d4; background-color: #20084a; }
#base24-purple-rain pre { font-family: monospace; color: #d3d4d4; background-color: #20084a; }
#base24-purple-rain * { font-size: 1em; }
#base24-purple-rain .Identifier { color: #d3d4d4; }
#base24-purple-rain .Statement { color: #805bb5; font-weight: bold; }
#base24-purple-rain .PreProc { color: #00ddef; }
#base24-purple-rain .Operator { color: #00ddef; }
#base24-purple-rain .Comment { color: #7f7f7f; font-style: italic; }
#base24-purple-rain .String { color: #9ae204; font-style: italic; }
#base24-purple-rain .Number { color: #ffc400; }
#base24-purple-rain .Function { color: #00a1f9; }
#base24-purple-rain .Conditional { color: #805bb5; }
