#base24-molokai pre { white-space: pre-wrap; font-family: monospace; color: #a1a1a1; background-color: #121212; }
#base24-molokai pre { font-family: monospace; color: #a1a1a1; background-color: #121212; }
#base24-molokai * { font-size: 1em; }
#base24-molokai .Identifier { color: #a1a1a1; }
#base24-molokai .Statement { color: #8700ff; font-weight: bold; }
#base24-molokai .PreProc { color: #42a7cf; }
#base24-molokai .Operator { color: #42a7cf; }
#base24-molokai .Comment { color: #6e6e6e; font-style: italic; }
#base24-molokai .String { color: #97e123; font-style: italic; }
#base24-molokai .Number { color: #dfd460; }
#base24-molokai .Function { color: #0f7fcf; }
#base24-molokai .Conditional { color: #8700ff; }
