#base24-cyberdyne pre { white-space: pre-wrap; font-family: monospace; color: #c0c0c0; background-color: #151144; }
#base24-cyberdyne pre { font-family: monospace; color: #c0c0c0; background-color: #151144; }
#base24-cyberdyne * { font-size: 1em; }
#base24-cyberdyne .Identifier { color: #c0c0c0; }
#base24-cyberdyne .Statement { color: #ff8ffd; font-weight: bold; }
#base24-cyberdyne .PreProc { color: #6bffdc; }
#base24-cyberdyne .Operator { color: #6bffdc; }
#base24-cyberdyne .Comment { color: #5e5e5e; font-style: italic; }
#base24-cyberdyne .String { color: #00c172; font-style: italic; }
#base24-cyberdyne .Number { color: #d2a700; }
#base24-cyberdyne .Function { color: #0071cf; }
#base24-cyberdyne .Conditional { color: #ff8ffd; }
