#base24-wez pre { white-space: pre-wrap; font-family: monospace; color: #aeaeae; background-color: #000000; }
#base24-wez pre { font-family: monospace; color: #aeaeae; background-color: #000000; }
#base24-wez * { font-size: 1em; }
#base24-wez .Identifier { color: #aeaeae; }
#base24-wez .Statement { color: #cc55cc; font-weight: bold; }
#base24-wez .PreProc { color: #7acaca; }
#base24-wez .Operator { color: #7acaca; }
#base24-wez .Comment { color: #727272; font-style: italic; }
#base24-wez .String { color: #55cc55; font-style: italic; }
#base24-wez .Number { color: #cdcd55; }
#base24-wez .Function { color: #5455cb; }
#base24-wez .Conditional { color: #cc55cc; }
