#base24-bluloco-dark pre { white-space: pre-wrap; font-family: monospace; color: #b1bac9; background-color: #1e2027; }
#base24-bluloco-dark pre { font-family: monospace; color: #b1bac9; background-color: #1e2027; }
#base24-bluloco-dark * { font-size: 1em; }
#base24-bluloco-dark .Identifier { color: #b1bac9; }
#base24-bluloco-dark .Statement { color: #8c62fd; font-weight: bold; }
#base24-bluloco-dark .PreProc { color: #366f99; }
#base24-bluloco-dark .Operator { color: #366f99; }
#base24-bluloco-dark .Comment { color: #7b8494; font-style: italic; }
#base24-bluloco-dark .String { color: #23974a; font-style: italic; }
#base24-bluloco-dark .Number { color: #fc7e57; }
#base24-bluloco-dark .Function { color: #285afe; }
#base24-bluloco-dark .Conditional { color: #8c62fd; }
