#base24-grape pre { white-space: pre-wrap; font-family: monospace; color: #8c8a92; background-color: #161423; }
#base24-grape pre { font-family: monospace; color: #8c8a92; background-color: #161423; }
#base24-grape * { font-size: 1em; }
#base24-grape .Identifier { color: #8c8a92; }
#base24-grape .Statement { color: #8c35c8; font-weight: bold; }
#base24-grape .PreProc { color: #3added; }
#base24-grape .Operator { color: #3added; }
#base24-grape .Comment { color: #696377; font-style: italic; }
#base24-grape .String { color: #1fa91b; font-style: italic; }
#base24-grape .Number { color: #8ddc1f; }
#base24-grape .Function { color: #487cf4; }
#base24-grape .Conditional { color: #8c35c8; }
