#base16-papercolor-light pre { white-space: pre-wrap; font-family: monospace; color: #5e5e5e; background-color: #eeeeee; }
#base16-papercolor-light pre { font-family: monospace; color: #5e5e5e; background-color: #eeeeee; }
#base16-papercolor-light * { font-size: 1em; }
#base16-papercolor-light .Identifier { color: #5e5e5e; }
#base16-papercolor-light .Statement { color: #8700af; font-weight: bold; }
#base16-papercolor-light .PreProc { color: #0087af; }
#base16-papercolor-light .Operator { color: #0087af; }
#base16-papercolor-light .Comment { color: #858585; font-style: italic; }
#base16-papercolor-light .String { color: #008700; font-style: italic; }
#base16-papercolor-light .Number { color: #d75f00; }
#base16-papercolor-light .Function { color: #005f87; }
#base16-papercolor-light .Conditional { color: #8700af; }
