#base16-swamp-light pre { white-space: pre-wrap; font-family: monospace; color: #64513e; background-color: #f1e3d1; }
#base16-swamp-light pre { font-family: monospace; color: #64513e; background-color: #f1e3d1; }
#base16-swamp-light * { font-size: 1em; }
#base16-swamp-light .Identifier { color: #64513e; }
#base16-swamp-light .Statement { color: #9e5581; font-weight: bold; }
#base16-swamp-light .PreProc { color: #d09700; }
#base16-swamp-light .Operator { color: #d09700; }
#base16-swamp-light .Comment { color: #b5a492; font-style: italic; }
#base16-swamp-light .String { color: #908d6a; font-style: italic; }
#base16-swamp-light .Number { color: #64513e; }
#base16-swamp-light .Function { color: #bf7979; }
#base16-swamp-light .Conditional { color: #9e5581; }
