#base24-soft-server pre { white-space: pre-wrap; font-family: monospace; color: #8c9594; background-color: #242626; }
#base24-soft-server pre { font-family: monospace; color: #8c9594; background-color: #242626; }
#base24-soft-server * { font-size: 1em; }
#base24-soft-server .Identifier { color: #8c9594; }
#base24-soft-server .Statement { color: #6971a3; font-weight: bold; }
#base24-soft-server .PreProc { color: #6ba48f; }
#base24-soft-server .Operator { color: #6ba48f; }
#base24-soft-server .Comment { color: #727978; font-style: italic; }
#base24-soft-server .String { color: #99a569; font-style: italic; }
#base24-soft-server .Number { color: #a29069; }
#base24-soft-server .Function { color: #6a8fa3; }
#base24-soft-server .Conditional { color: #6971a3; }
