#base16-embers-light pre { white-space: pre-wrap; font-family: monospace; color: #433b32; background-color: #dbd6d1; }
#base16-embers-light pre { font-family: monospace; color: #433b32; background-color: #dbd6d1; }
#base16-embers-light * { font-size: 1em; }
#base16-embers-light .Identifier { color: #433b32; }
#base16-embers-light .Statement { color: #82576d; font-weight: bold; }
#base16-embers-light .PreProc { color: #576d82; }
#base16-embers-light .Operator { color: #576d82; }
#base16-embers-light .Comment { color: #8a8075; font-style: italic; }
#base16-embers-light .String { color: #57826d; font-style: italic; }
#base16-embers-light .Number { color: #828257; }
#base16-embers-light .Function { color: #6d5782; }
#base16-embers-light .Conditional { color: #82576d; }
