#base24-lovelace pre { white-space: pre-wrap; font-family: monospace; color: #ceced3; background-color: #1d1f28; }
#base24-lovelace pre { font-family: monospace; color: #ceced3; background-color: #1d1f28; }
#base24-lovelace * { font-size: 1em; }
#base24-lovelace .Identifier { color: #ceced3; }
#base24-lovelace .Statement { color: #c574dd; font-weight: bold; }
#base24-lovelace .PreProc { color: #79e6f3; }
#base24-lovelace .Operator { color: #79e6f3; }
#base24-lovelace .Comment { color: #707281; font-style: italic; }
#base24-lovelace .String { color: #5adecd; font-style: italic; }
#base24-lovelace .Number { color: #f2a272; }
#base24-lovelace .Function { color: #8897f4; }
#base24-lovelace .Conditional { color: #c574dd; }
